* {
    background-color: black;
    color: red;
    color-scheme: black;
    
}

.h1 h1 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;

}

.job {
    color: red;
    font-family: monospace;
    
}
